<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Colégio Jardins</h5>
                <p>Rua Exemplo, 123 - Bairro Exemplo, Cidade - UF</p>
                <p>(00) 0000-0000</p>
            </div>
            <div class="col-md-4">
                <h5>Links Úteis</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Redes Sociais</h5>
                <a href="#"><img src="images/icone_face.png" alt="Facebook"></a>
                <a href="#"><img src="images/icone_inta.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</footer>