<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <a href="index.html"><img src="images/logo_colegio_jardins.png" alt="Colégio Jardins" class="footer-logo mb-3"></a>
                <p class="text">Educação, Amor e Seriedade são as bases para uma formação integral do aluno em todas as dimensões.</p>
                <div class="social-icons mt-4">
                    <a href="https://www.facebook.com/Colégio-Jardins-Mediterrâneo-COTEJ-488013597981748/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/colegiojardinsmediterraneo/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCtr_WyE7EO8aHKBTXW4H_wg" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=+551996143513&text=Ol%c3%a1,%20estou%20no%20site%20do%20Col%c3%a9gio%20Jardins%20e%20gostaria%20de%20mais%20informa%c3%a7%c3%b5es." target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.threads.net/@colegiojardinsmediterraneo" target="_blank" class="social-icon"><i class="fa-brands fa-threads"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5>Institucional</h5>
                <ul class="list-unstyled">
                    <li><a href="sobre-nos.html">Sobre Nós</a></li>
                    <li><a href="estrutura.html">Estrutura</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5>Acadêmico</h5>
                <ul class="list-unstyled">
                    <li><a href="educacao-infantil.html">Ed. Infantil</a></li>
                    <li><a href="ensino-fundamental-1.html">Ed. Fundamental I</a></li>
                    <li><a href="ensino-fundamental-2.html">Ed. Fundamental II</a></li>
                    <li><a href="ensino-medio.html">Ensino Médio</a></li>
                    <li><a href="https://www.agendaedu.com/" target="_blank">Agenda Edu</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5>Contato</h5>
                <ul class="list-unstyled contact-info">
                    <li><i class="fas fa-map-marker-alt"></i> Av. Ana Beatriz Bierrembach, 165 - Vila Mimosa, Campinas - SP</li>
                    <li><i class="fas fa-phone"></i> (19) 3269-9922</li>
                    <li><i class="fas fa-envelope"></i> contato@colegiojardins.com.br</li>
                </ul>
                <a href="matriculas.html" class="btn btn-primary btn-sm mt-2">Matrículas Abertas</a>
                <a href="trabalhe-conosco.html" class="btn btn-secondary btn-sm mt-2">Trabalhe Conosco</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center pt-4 border-top mt-4">
                <p class="text-muted small">&copy; 2025 Colégio Jardins. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>