<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo_colegio_jardins.png" alt="Colégio Jardins" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                        <div class="nav-indicator"></div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQuemSomos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quem Somos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownQuemSomos">
                            <a class="dropdown-item" href="sobre-nos.html">Nossa História, Missão e Proposta</a>
                            <a class="dropdown-item" href="estrutura.html">Estrutura</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCursos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cursos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownCursos">
                            <a class="dropdown-item" href="educacao-infantil.html">Educação Infantil</a>
                            <a class="dropdown-item" href="ensino-fundamental-1.html">Ensino Fundamental I</a>
                            <a class="dropdown-item" href="ensino-fundamental-2.html">Ensino Fundamental II</a>
                            <a class="dropdown-item" href="ensino-medio.html">Ensino Médio</a>
                            <a class="dropdown-item" href="ensino-tecnico.html">Ensino Técnico</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="matriculas.html">Matrículas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trabalhe-conosco.html">Trabalhe Conosco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto social-icons-header">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/Colégio-Jardins-Mediterrâneo-COTEJ-488013597981748/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/colegiojardinsmediterraneo/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.threads.net/@colegiojardinsmediterraneo" target="_blank"><i class="fa-brands fa-threads"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://api.whatsapp.com/send?phone=+551996143513&text=Ol%c3%a1,%20estou%20no%20site%20do%20Col%c3%a9gio%20Jardins%20e%20gostaria%20de%20mais%20informa%c3%a7%c3%b5es." target="_blank"><i class="fab fa-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>